<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Add Work Experience</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="workExperienceForm">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <label>Employer</label>
        <input formControlName="employer" type="text" class="form-control">

        <label class="text-danger" *ngIf="workExperienceForm.controls.employer.errors?.required && workExperienceForm.controls.employer.touched">
          Employer name is required!
        </label>
      </div>

      <div class="col-lg-6 mt-3">
        <label>Position</label>
        <input formControlName="position" class="form-control">

        <label class="text-danger" *ngIf="workExperienceForm.controls.position.errors?.required && workExperienceForm.controls.position.touched">
          Position is required!
        </label>
      </div>

      <div class="col-lg-6 mt-3">
        <label>Start Date</label>
        <div class="input-group">
          <input ngbDatepicker #dp1="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="startDate" (navigate)="date = $event.next" placeholder="YYYY-MM-DD">
          <div class="input-group-append">
            <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp1.toggle()" type="button"></button>
          </div>
        </div>
        <label class="text-danger" *ngIf="workExperienceForm.controls.startDate.errors?.required && workExperienceForm.controls.startDate.touched">
          Start Date is required!
        </label>
      </div>

      <div class="col-lg-6 mt-3">
        <label>End Date</label>
        <div class="input-group">
          <input ngbDatepicker #dp2="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="startDate" (navigate)="date = $event.next" placeholder="YYYY-MM-DD">
          <div class="input-group-append">
            <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp2.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
          <label>Description</label>
          <input formControlName="description" class="form-control">
          <label class="text-danger" *ngIf="workExperienceForm.controls.description.errors?.required && workExperienceForm.controls.description.touched">
            Position is required!
          </label>
        </div>

      <div class="col-lg-6 mt-3">
        <label>Reason for leaving</label>
        <textarea formControlName="reasonForLeaving" class="form-control"></textarea>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>