<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Add Criminal Record</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="criminalRecordForm">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <label>Type of Criminal Act</label>
        <input formControlName="typeOfCriminalAct" type="text" class="form-control">
        <label class="text-danger" *ngIf="criminalRecordForm.controls.typeOfCriminalAct.errors?.required && criminalRecordForm.controls.typeOfCriminalAct.touched">
          Type of Criminal Act is required!
        </label>
      </div>

      <div class="col-lg-6 mt-3">
        <label>Date Finalized</label>
        <div class="form-group">
          <div class="input-group">
            <input ngbDatepicker #dp1="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" formControlName="dateFinalized" class="form-control" (navigate)="dateFinalized = $event.next" placeholder="YYYY-MM-DD">
            <div class="input-group-append">
              <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp1.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <label class="text-danger" *ngIf="criminalRecordForm.controls.dateFinalized.errors?.required && criminalRecordForm.controls.dateFinalized.touched">
          Date Finalized is required!
        </label>
      </div>

      <div class="col-lg-6 mt-3">
          <label>Outcome / Judgement</label>
          <input formControlName="outcome" type="text" class="form-control">
          <label class="text-danger" *ngIf="criminalRecordForm.controls.outcome.errors?.required && criminalRecordForm.controls.outcome.touched">
            Outcome / Judgement is required!
          </label>
        </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>