<button type="button" class="btn btn-primary" (click)="openModalForm('computer-literacy')">Save</button>
<div class="jumbotron jumbotron-fluid px-5 py-4 bg-light wow slideInUp" data-wow-duration="1.25s">
  <div id="post-details">

    <div class="fadeInDown wow" data-wow-delay="1s">
      <div class="bg-primary row">

        <div class="col-lg-4 d-flex align-items-center">
          <h5 class="text-light m-0">
            Details of the Post
          </h5>
        </div>
        <div class="col-lg-8">
          <p class="m-1">
            Post applying for: 
          </p>
          <p class="m-1">
            Reference Number:
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div [formGroup]="personalForm">
    <h4 class="fadeInDown wow" data-wow-delay="1s">
      Personal Details
      <hr>
    </h4>
    <div class="row">
      <div class="col-lg-3 fadeInUp wow" data-wow-delay="1.3s">
        <div>
          <div class="profile">
            <div class="photo">
              <input type="file" accept="image/*">
              <div class="photo__helper">
                <div class="photo__frame photo__frame--circle">
                  <canvas class="photo__canvas"></canvas>
                  <div class="message is-empty">
                    <p class="message--desktop">Drop your photo here or browse your
                      computer.
                    </p>
                    <p class="message--mobile">Tap here to select your picture.</p>
                  </div>
                  <div class="message is-loading">
                    <i class="fa fa-2x fa-spin fa-spinner"></i>
                  </div>
                  <div class="message is-dragover">
                    <i class="fa fa-2x fa-cloud-upload"></i>
                    <p>Drop your photo</p>
                  </div>
                  <div class="message is-wrong-file-type">
                    <p>Only images allowed.</p>
                    <p class="message--desktop">Drop your photo here or browse your
                      computer.
                    </p>
                    <p class="message--mobile">Tap here to select your picture.</p>
                  </div>
                  <div class="message is-wrong-image-size">
                    <p>Your photo must be larger than 350px.</p>
                  </div>
                </div>
              </div>

              <div class="photo__options hide">
                <div class="photo__zoom">
                  <input type="range" class="zoom-handler">
                </div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">

        <div class="row fadeInUp wow" data-wow-delay="1.4s">
          <!-- <div class="col-lg-4">
              <label for="input-gender">Select a gender</label>
              <select name="input-gender" id="input-gender" formControlName="gender" class="form-control">
                <option value="0" selected>Male</option>
                <option value="1">Female</option>
              </select>
              <label class="text-danger" *ngIf="personalForm.controls.gender.errors?.required && personalForm.controls.gender.touched">
                Gender is required!
              </label>
            </div> -->

          <div class="col-lg-4">
            <label for="input-title">Title</label>
            <select name="input-title" id="input-title" formControlName="title" class="form-control">
              <option value="0" selected="selected">Mr</option>
              <option value="1">Ms</option>
              <option value="2">Mrs</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.title.errors?.required && personalForm.controls.title.touched">
              Title is required!
            </label>
          </div>
          <div class="col-lg-4">
            <label for="input-first-name">First name</label>
            <input type="text" id="input-first-name" name="input-first-name" formControlName="firstName" class="form-control">
            <label class="text-danger" *ngIf="personalForm.controls.firstName.errors?.required && personalForm.controls.firstName.touched">
              First name is required!
            </label>
          </div>
          <div class="col-lg-4">
            <label for="input-last-name">Last name</label>
            <input type="text" id="input-last-name" name="input-last-name" formControlName="lastName" class="form-control">
            <label class="text-danger" *ngIf="personalForm.controls.lastName.errors?.required && personalForm.controls.lastName.touched">
              Last name is required!
            </label>
          </div>

        </div>

        <div class="row fadeInUp wow" data-wow-delay="1.5s">
          <div class="col-lg-4 mt-3">
            <label for="input-race">Race</label>
            <select name="input-race" id="input-race" formControlName="race" class="form-control">
              <option value="0" selected>Black</option>
              <option value="1">Colored</option>
              <option value="2">White</option>
              <option value="3">Asian</option>
              <option value="4">Indian</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.race.errors?.required && personalForm.controls.race.touched">
              Race is required!
            </label>
          </div>

          <div class="col-lg-4 mt-3">
            <label for="input-dependant">Do have any dependants</label>
            <select name="input-dependants" id="input-dependants" formControlName="dependant" class="form-control">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <div class="col-lg-4 mt-3" *ngIf="personalForm.value.dependents == 'true'">
            <label for="input-dependant" formControlName="dependantAge" placeholder="eg. 3 to 15">If yes, aged?</label>
            <input name="input-dependant-age" id="input-dependant-age" formControlName="dependantAge" class="form-control">
          </div>

          <div class="col-lg-4 mt-3">
            <label for="input-disability">Do you have a disability</label>
            <select class="form-control" name="input-disability" id="input-disability" formControlName="disability">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.disability.errors?.required && personalForm.controls.disability.touched">
              Disability is required!
            </label>
          </div>
          <div class="col-lg-4 mt-3" *ngIf="personalForm.value.disability == true">
            <label for="input-disability-nature">If yes, elaborate of your disability's nature?</label>
            <input class="form-control" name="input-disability-nature" id="input-disability-nature" formControlName="disabilityNature">

          </div>
          <div class="col-lg-4 mt-3">
            <label for="input-citizenship">South African citizen</label>
            <select formControlName="citizenship" class="form-control" name="input-citizenship" id="input-citizenship">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.citizenship.errors?.required && personalForm.controls.citizenship.touched">
              Citizenship is required!
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <label for="input-nationality">Nationality</label>
            <select formControlName="nationality" class="form-control" name="input-nationality" id="input-nationality">
              <option [value]="c.id" *ngFor="let c of countries">{{ c.label }}</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.nationality.errors?.required && personalForm.controls.nationality.touched">
              Nationality is required!
            </label>
          </div>

          <div class="col-lg-4 mt-3">
            <label for="input-work-permit-number">Work Permit Number</label>
            <input formControlName="workPermitNumber" class="form-control" name="input-work-permit-number" id="input-work-permit-number">
          </div>
        </div>
      </div>
    </div>
    <div class="row fadeInUp wow" data-wow-delay="1.6s">
      <div class="col-lg-4 mt-3">
        <label for="input-id-number">ID number</label>
        <input type="text" id="input-id-number" name="input-id-number" formControlName="idNumber" class="form-control">
        <label class="text-danger" *ngIf="personalForm.controls.idNumber.errors?.required && personalForm.controls.idNumber.touched">
          ID Number is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">

        <label for="input-input-date-of-birth">Birth date</label>
        <!-- <input type="text" name="input-experience-start-date" id="input-experience-start-date"> -->
        <div class="form-group">
          <div class="input-group">
            <input ngbDatepicker #dp3="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" formControlName="birthDate" class="form-control" (navigate)="birthDate = $event.next" name="input-input-date-of-birth" id="input-input-date-of-birth" placeholder="YYYY-MM-DD">
            <div class="input-group-append">
              <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp3.toggle()" type="button"></button>
            </div>

          </div>
        </div>
        <label class="text-danger" *ngIf="personalForm.controls.birthDate.errors?.required && personalForm.controls.birthDate.touched">
          Birth date is required!
        </label>
      </div>


      <div class="col-lg-4 mt-3">
        <label for="input-address">Address</label>
        <input formControlName="address" class="form-control" name="input-address" id="input-address">
        <label class="text-danger" *ngIf="personalForm.controls.address.errors?.required && personalForm.controls.address.touched">
          Address is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-sars-registered">Are you registered with SARS</label>
        <select formControlName="sarsRegistered" class="form-control" name="input-address" id="input-address">
          <option value="true">Yes</option>
          <option value="false">No</option>

        </select>
        <label class="text-danger" *ngIf="personalForm.controls.sarsRegistered.errors?.required && personalForm.controls.sarsRegistered.touched">
          Your SARS status is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-sars-tax-number">SARS Tax Number</label>
        <input formControlName="sarsTaxNumber" class="form-control" name="input-sars-tax-number" id="input-sars-tax-number">
        <label class="text-danger" *ngIf="personalForm.controls.sarsTaxNumber.errors?.required && personalForm.controls.sarsTaxNumber.touched">
          SARS Tax Number is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-criminal-record">Do you have a drivers licence</label>
        <ng-multiselect-dropdown name="licenceDropdownList" [placeholder]="''" [data]="licenceDropDownListObj" formControlName="driversLicenceType" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
        <!-- <small id="driversLicenceHelp" class="form-text text-muted">Select those that are applicable</small> -->
      </div>
      <div class="col-lg-4 mt-3">
        <label for="input-phone-number">Phone number</label>
        <input type="text" formControlName="phoneNumber" class="form-control" name id="input-phone-number">
        <label class="text-danger" *ngIf="personalForm.controls.phoneNumber.errors?.required && personalForm.controls.phoneNumber.touched">
          Phone number is required!
        </label>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <h5 class="fadeInDown wow">
          <hr>
          Qualifications
          <hr>
        </h5>

        <div class="fadeInUp wow">
          <div id="table-container">
            <table class="table table-striped" *ngIf="qualificationList.length > 0">
              <thead class="bg-primary text-white text-uppercase">
                <tr>
                  <td>Institute</td>
                  <td>Qualification</td>
                  <td>Type</td>
                  <td>Year</td>
                  <td>

                    <a class="btn btn-light btn-add text-capitalize" (click)="openModalForm('qualification')">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      <strong> Add</strong>
                    </a>
                  </td>
                </tr>
              </thead>
              <tbody class="table-hover">
                <tr *ngFor="let i of qualificationList">
                  <td>{{ i.nameOfInstitute }}</td>
                  <td>{{ i.nameOfQualification }}</td>
                  <td>{{ i.typeOfQualification}}</td>
                  <td>{{ i.yearObtained }}</td>
                  <td><a class="btn-action" click="console.log('Clicked!')"><i class="fas fa-trash"></i></a></td>
                </tr>



              </tbody>
            </table>
            <div *ngIf="qualificationList.length == 0" class="w-100 text-center">
              <h6><i>There is no records of prior educational history, please add some.</i></h6>
              <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('qualification')">ADD QUALIFICATION</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">

      </div>


    </div>






    <h5 class="fadeInDown wow">
      <hr>
      Preferences
      <hr>
    </h5>
    <div class="row fadeInUp wow w-100">
      <div class="col-lg-6 mt-3">
        <label for="input-nature-of-employment">Nature of employment</label>
        <ng-multiselect-dropdown name="natureDropdownList" [placeholder]="" [data]="natureDropDownListObj" formControlName="natureDropdownList" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>

    <h5 class="fadeInDown wow w-100">
      <hr>
      Other
      <hr>
    </h5>
    <div class="row fadeInUp wow">
      <div class="col-lg-6 mt-3">
        <label for="input-relationship">Relationship with us</label>
        <select formControlName="relationship" class="form-control" name="input-relationship" id="input-relationship">
          <option value="0">Current Employee</option>
          <option value="1">Citizen</option>
        </select>
      </div>

      <div class="col-lg-6 mt-3">
        <label for="input-criminal-record">Do you have a criminal record</label>
        <select formControlName="criminalRecord" class="form-control" name="input-criminal-record" id="input-criminal-record">
          <option value="0">Yes</option>
          <option value="1">No</option>
        </select>
      </div>


      <div class="col-12">

      </div>
      <div class="col-lg-6 mt-3">
        <label for="input-criminal-record">Do you have a drivers licence</label>
        <ng-multiselect-dropdown name="licenceDropdownList" [placeholder]="''" [data]="licenceDropDownListObj" formControlName="driversLicenceType" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
        <!-- <small id="driversLicenceHelp" class="form-text text-muted">Select those that are applicable</small> -->
      </div>

      <div class="col-lg-6 mt-3">
        <label for="input-languages">Select the languages you are profecient in</label>
        <ng-multiselect-dropdown name="languageDropdownList" [placeholder]="''" [data]="languageDropDownListObj" formControlName="language" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
        <!-- <small id="languagesHelp" class="form-text text-muted">Select those that are applicable</small> -->
      </div>

      <div class="col-lg-6 mt-3">
        <label for="input-hear-about-us">How did you hear about us</label>
        <select formControlName="heardAboutUs" class="form-control" name="input-hear-about-us" id="input-hear-about-us">
          <option value="Google">Google</option>
          <option value="Official Website">Official Website</option>
          <option value="Word of mouth">Word of mouth</option>
          <option value="News paper">News paper</option>
          <option value="Radio">Radio</option>
        </select>
      </div>

      <div class="col-lg-6 mt-3">
        <label for="input-marketing-info">Do you want to receive marketing info from us</label>
        <select formControlName="marketingInfo" class="form-control" name="input-marketing-info" id="input-marketing-info">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <div class="col-lg-6 mt-3 ">
        <!-- <label for="input-cv-file">Please upload your CV</label> -->
        <div class="upload-btn-wrapper">
          <button class="btn btn-outline-primary ">Upload CV</button>
          <input type="file" formControlName="cvFile" class="form-control" name="input-cv-file" (change)="onFileChange($event)" id="input-cv-file">
        </div>
        <div class="text-muted">
          {{ this.cvFileName }}
        </div>
        <!-- <a href="{{ this.cvFile }}"  (click)="openDoc()">Open</a> -->
      </div>


    </div>
  </div>



  <div class="row mt-3 slideInUp wow">


  </div>
  <div class="row mt-3 slideInUp wow" id="experience">
    <h5 class="fadeInDown wow w-100">
      <hr>
      Experience
      <hr>
    </h5>
    <div class="w-100" id="table-container">
      <table class="table table-striped" *ngIf="experience.length > 0">
        <thead class="bg-primary text-white text-uppercase">
          <tr>
            <td>Job Title</td>
            <td>Company</td>
            <td>Country</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>
              <a class="btn btn-light btn-add text-capitalize" (click)="open(experienceContent)">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <strong> Add</strong>
              </a>
            </td>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let i of experience">
            <td>{{ i.jobTitle }}</td>
            <td>{{ i.company }}</td>
            <td>{{ i.country }}</td>
            <td>{{ i.startDate }}</td>
            <td>{{ i.endDate }}</td>
            <td></td>
          </tr>



        </tbody>
      </table>

      <div *ngIf="experience.length == 0" class="w-100 text-center">
        <h5><i>There is no records of prior work history, please add some.</i></h5>
        <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="open(experienceContent)">ADD EXPERIENCE</button>
      </div>
    </div>
  </div>

  <div class="row mt-3 slideInUp wow" id="education">
    <h5 class="fadeInDown wow w-100">
      <hr>
      Education
      <hr>
    </h5>
    <div class="w-100" id="table-container">
      <table class="table table-striped" *ngIf="education.length > 0">
        <thead class="bg-primary text-white text-uppercase">
          <tr>
            <td>Institution</td>
            <td>Country</td>
            <td>Qualification Name</td>
            <td>Qualification Type</td>
            <td>
              <a class="btn btn-light btn-add text-capitalize" (click)="open(educationContent)">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <strong> Add</strong>
              </a>
            </td>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let i of education">
            <td>{{i.institute}}</td>
            <td>{{ getValue('country', i.institutionCountry).label || "n/a" }}</td>
            <td>{{i.qualificationName}}</td>
            <td>{{ getValue('qualifications', i.qualificationTypeId).label || "n/a" }}</td>
            <td></td>
          </tr>



        </tbody>
      </table>
      <div *ngIf="education.length == 0" class="w-100 text-center">
        <h6><i>There is no records of prior educational history, please add some.</i></h6>
        <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="open(educationContent)">ADD EDUCATION</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mx-0 mt-4 slideInUp wow">
    <div class="float-right w-100">
      <button class="btn btn-primary float-right ml-3 w-25" type="button" (click)="saveDetails()">Save</button>
      <button class="btn btn-danger float-right ml-3 w-25">Cancel</button>
    </div>
  </div>
</div>



<!-- modals here -->
<ng-template #experienceContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Add Experience</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="experienceForm">
      <div class="row">
        <div class="col-lg-4 mt-3">
          <label for="input-experience-job-title">Job title</label>
          <input formControlName="jobTitle" type="text" class="form-control" name="input-experience-job-title" id="input-experience-job-title">
        </div>
        <div class="col-lg-4 mt-3">
          <label for="input-experience-company">Company Name</label>
          <input formControlName="company" type="text" class="form-control" name="input-experience-company" id="input-experience-company">
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-experience-country">Country</label>
          <select formControlName="country" class="form-control" name="input-experience-country" id="input-experience-country">
            <option *ngFor="let c of countries" [value]="c.id">{{ c.label }}</option>
          </select>
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-experience-start-date">Start Date</label>
          <!-- <input type="text" name="input-experience-start-date" id="input-experience-start-date"> -->
          <div class="form-group">

            <div class="input-group">
              <input ngbDatepicker #dp1="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="startDate" (navigate)="date = $event.next" name="input-experience-start-date" id="input-experience-start-date" placeholder="YYYY-MM-DD">
              <div class="input-group-append">
                <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp1.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-experience-end-date">End Date</label>
          <!-- <input type="text" name="input-experience-end-date" id="input-experience-end-date"> -->
          <div class="form-group">
            <div class="input-group">
              <input ngbDatepicker #dp2="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="endDate" (navigate)="date = $event.next" name="input-experience-end-date" id="input-experience-end-date" placeholder="YYYY-MM-DD">
              <div class="input-group-append">
                <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp2.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mt-3">
          <!-- <input formControlName="currentJob" type="checkbox" name="input-experience-current-workplace" id="input-experience-current-job">
            <label >Current place of work?</label> -->
          <div class="custom-control custom-checkbox mb-3 h-100 d-flex align-items-center">
            <div class="v-align-center">
              <input formControlName="currentJob" type="checkbox" class="custom-control-input cb-v-align" name="input-experience-current-workplace" id="input-experience-current-workplace">
              <label class="custom-control-label" for="input-experience-current-workplace">Current Place of Work?</label>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-3">
          <label for="input-experience-description">Reason For Leaving</label>
          <textarea formControlName="reasonFortoLeaving" type="text" class="form-control" name="input-experience-description" id="input-experience-reason-for-leaving"></textarea>
        </div>

        <div class="col-lg-6 mt-3">
          <label for="input-experience-responsibilities">Responsibiities</label>
          <textarea formControlName="responsibilities" type="text" class="form-control" name="input-experience-responsibilities" id="input-experience-responsibilities"></textarea>
        </div>

        <!-- <div class="col-lg-4">
              <label for="input-experience-current-workplace">Is this your current place of work?</label>
              <input type="text" name="input-experience-current-workplace" id="input-experience-current-workplace">
            </div> -->
      </div>
    </form>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveExperience()">Save</button>

  </div>

</ng-template>

<ng-template #educationContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Add Education</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="educationForm">
      <div class="row">
        <div class="col-lg-4 mt-3">
          <label for="input-education-institution">Institution Name</label>
          <input formControlName="institution" type="text" class="form-control" name="input-education-institution" id="input-education-institution">
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-education-country">Country</label>
          <select formControlName="institutionCountry" class="form-control" name="input-education-country" id="input-education-country">
            <option [value]="c.id" *ngFor="let c of countries">{{ c.label }}</option>
          </select>
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-education-institution">Qualification Name</label>
          <input formControlName="qualificationName" type="text" class="form-control" name="input-education-qualification-name" id="input-education-qualification-name">
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-education-institution">Qualification Type</label>
          <select formControlName="qualificationTypeId" class="form-control" name="input-education-qualification-type" id="input-education-qualification-type">
            <option value="">Select a type of qualification</option>
            <option [value]="q.id" *ngFor="let q of qualification">{{ q.label }}</option>
          </select>
        </div>


        <div class="col-lg-4 mt-3">
          <label for="input-education-start-date">Start Date</label>
          <div class="form-group">
            <div class="input-group">
              <input ngbDatepicker #dp2="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="startDate" (navigate)="date = $event.next" name="input-education-end-date" id="input-education-end-date" placeholder="YYYY-MM-DD">
              <div class="input-group-append">
                <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp2.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mt-3">
          <label for="input-education-end-date">End Date</label>
          <div class="form-group">
            <div class="input-group">
              <input ngbDatepicker #dp1="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" class="form-control" formControlName="endDate" (navigate)="date = $event.next" name="input-education-end-date" id="input-education-end-date" placeholder="YYYY-MM-DD">
              <div class="input-group-append">
                <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp1.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-3">
          <label for="input-education-qualification-description">Qualification Description</label>
          <textarea formControlName="qualificationDesc" type="text" class="form-control" name="input-education-qualification-description" id="input-education-qualification-description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveEducation()">Save</button>
  </div>
</ng-template>
<!-- close modals here -->

<app-loader *ngIf="isLoading"></app-loader>
