<!-- <button type="button" class="btn btn-primary" (click)="openModalForm('computer-literacy')">Save</button> -->
<div class="jumbotron jumbotron-fluid px-5 py-4 mt-4 bg-light wow slideInUp" data-wow-duration="1.25s">
 
  <hr>
  <div [formGroup]="personalForm">
    <h4 class="fadeInDown wow" data-wow-delay="1s">
      Personal Details
      <hr>
    </h4>
    <div class="row">
      <div class="col-lg-3 fadeInUp wow" data-wow-delay="1.3s">
        <div>
          <div class="profile">
            <div class="photo">
              <input type="file" accept="image/*">
              <div class="photo__helper">
                <div class="photo__frame photo__frame--circle">
                  <canvas class="photo__canvas"></canvas>
                  <div class="message is-empty">
                    <p class="message--desktop">Drop your photo here or browse your
                      computer.
                    </p>
                    <p class="message--mobile">Tap here to select your picture.</p>
                  </div>
                  <div class="message is-loading">
                    <i class="fa fa-2x fa-spin fa-spinner"></i>
                  </div>
                  <div class="message is-dragover">
                    <i class="fa fa-2x fa-cloud-upload"></i>
                    <p>Drop your photo</p>
                  </div>
                  <div class="message is-wrong-file-type">
                    <p>Only images allowed.</p>
                    <p class="message--desktop">Drop your photo here or browse your
                      computer.
                    </p>
                    <p class="message--mobile">Tap here to select your picture.</p>
                  </div>
                  <div class="message is-wrong-image-size">
                    <p>Your photo must be larger than 350px.</p>
                  </div>
                </div>
              </div>

              <div class="photo__options hide">
                <div class="photo__zoom">
                  <input type="range" class="zoom-handler">
                </div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">

        <div class="row fadeInUp wow" data-wow-delay="1.4s">
          <div class="col-lg-4">
            <label>Title</label>
            <select formControlName="title" class="form-control">
              <option value="0" selected="selected">Mr</option>
              <option value="1">Ms</option>
              <option value="2">Mrs</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.title.errors?.required && personalForm.controls.title.touched">
              Title is required!
            </label>
          </div>
          <div class="col-lg-4">
            <label>First name</label>
            <input type="text" formControlName="firstName" class="form-control">
            <label class="text-danger" *ngIf="personalForm.controls.firstName.errors?.required && personalForm.controls.firstName.touched">
              First name is required!
            </label>
          </div>
          <div class="col-lg-4">
            <label>Last name</label>
            <input type="text" formControlName="lastName" class="form-control">
            <label class="text-danger" *ngIf="personalForm.controls.lastName.errors?.required && personalForm.controls.lastName.touched">
              Last name is required!
            </label>
          </div>
        </div>

        <div class="row fadeInUp wow" data-wow-delay="1.5s">
          <div class="col-lg-4 mt-3">
            <label>Race</label>
            <select formControlName="race" class="form-control">
              <option value="Black" selected>Black</option>
              <option value="Colored">Colored</option>
              <option value="White">White</option>
              <option value="Asian">Asian</option>
              <option value="Indian">Indian</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.race.errors?.required && personalForm.controls.race.touched">
              Race is required!
            </label>
          </div>

          <div class="col-lg-4 mt-3">
            <label>Do have any dependants</label>
            <select formControlName="dependant" class="form-control">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
          </div>

          <div class="col-lg-4 mt-3" *ngIf="personalForm.value.dependents == true">
            <label placeholder="eg. 3 to 15">If yes, aged?</label>
            <input formControlName="dependantAge" class="form-control">
          </div>

          <div class="col-lg-4 mt-3">
            <label>Do you have a disability</label>
            <select class="form-control" formControlName="disability">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.disability.errors?.required && personalForm.controls.disability.touched">
              Disability is required!
            </label>
          </div>
          <div class="col-lg-4 mt-3" *ngIf="personalForm.value.disability == true">
            <label for="input-disability-nature">If yes, elaborate of your disability's nature?</label>
            <input class="form-control" name="input-disability-nature" id="input-disability-nature" formControlName="disabilityNature">

          </div>
          <div class="col-lg-4 mt-3">
            <label for="input-citizenship">South African citizen</label>
            <select formControlName="citizenship" class="form-control" name="input-citizenship" id="input-citizenship">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.citizenship.errors?.required && personalForm.controls.citizenship.touched">
              Citizenship is required!
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <label for="input-nationality">Nationality</label>
            <select formControlName="nationality" class="form-control" name="input-nationality" id="input-nationality">
              <option [value]="c.label" *ngFor="let c of countries">{{ c.label }}</option>
            </select>
            <label class="text-danger" *ngIf="personalForm.controls.nationality.errors?.required && personalForm.controls.nationality.touched">
              Nationality is required!
            </label>
          </div>

          <div class="col-lg-4 mt-3">
            <label for="input-work-permit-number">Work Permit Number</label>
            <input formControlName="workPermitNumber" class="form-control" name="input-work-permit-number" id="input-work-permit-number">
          </div>
        </div>
      </div>
    </div>
    <div class="row fadeInUp wow" data-wow-delay="1.6s">
      <div class="col-lg-4 mt-3">
        <label>ID number</label>
        <input type="text" formControlName="idNumber" class="form-control">
        <label class="text-danger" *ngIf="personalForm.controls.idNumber.errors?.required && personalForm.controls.idNumber.touched">
          ID Number is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label>Gender</label>
        <select formControlName="gender" class="form-control">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <label class="text-danger" *ngIf="personalForm.controls.gender.errors?.required && personalForm.controls.gender.touched">
          Gender is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">

        <label>Birth date</label>
        <div class="form-group">
          <div class="input-group">
            <input ngbDatepicker #dp3="ngbDatepicker" [minDate]="{year: 1920, month: 1, day: 1}" formControlName="birthDate" class="form-control" (navigate)="birthDate = $event.next" placeholder="YYYY-MM-DD">
            <div class="input-group-append">
              <button class="btn btn-outline-primary far fa-calendar-alt" (click)="dp3.toggle()" type="button"></button>
            </div>

          </div>
        </div>
        <label class="text-danger" *ngIf="personalForm.controls.birthDate.errors?.required && personalForm.controls.birthDate.touched">
          Birth date is required!
        </label>
      </div>


      <div class="col-lg-4 mt-3">
        <label for="input-address">Address</label>
        <input formControlName="address" class="form-control" name="input-address" id="input-address">
        <label class="text-danger" *ngIf="personalForm.controls.address.errors?.required && personalForm.controls.address.touched">
          Address is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-sars-registered">Are you registered with SARS</label>
        <select formControlName="sarsRegistered" class="form-control" name="input-address" id="input-address">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>

        </select>
        <label class="text-danger" *ngIf="personalForm.controls.sarsRegistered.errors?.required && personalForm.controls.sarsRegistered.touched">
          Your SARS status is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-sars-tax-number">SARS Tax Number</label>
        <input formControlName="sarsTaxNumber" class="form-control" name="input-sars-tax-number" id="input-sars-tax-number">
        <label class="text-danger" *ngIf="personalForm.controls.sarsTaxNumber.errors?.required && personalForm.controls.sarsTaxNumber.touched">
          SARS Tax Number is required!
        </label>
      </div>

      <div class="col-lg-4 mt-3">
        <label for="input-criminal-record">Do you have a drivers licence</label>
        <ng-multiselect-dropdown name="licenceDropdownList" [placeholder]="''" [data]="licenceDropDownListObj" formControlName="driversLicenceType" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-lg-4 mt-3">
        <label for="input-phone-number">Phone number</label>
        <input type="text" formControlName="phoneNumber" class="form-control" name id="input-phone-number">
        <label class="text-danger" *ngIf="personalForm.controls.phoneNumber.errors?.required && personalForm.controls.phoneNumber.touched">
          Phone number is required!
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Qualifications -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Qualifications
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('qualification')" *ngIf="qualificationList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped slideInDown wow" *ngIf="qualificationList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <th>Institute</th>
                <th>Qualification</th>
                <th>Type</th>
                <th colspan="2">Year</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of qualificationList | sortBy:'yearObtained' : 'desc'">
                <td>{{ i.nameOfInstitute }}</td>
                <td>{{ i.nameOfQualification }}</td>
                <td>{{ i.typeOfQualification}}</td>
                <td>{{ i.yearObtained }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="qualificationList.length == 0" class="w-100 text-center">
            <p><i>You do not have any qualifications.</i></p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('qualification')">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!--  END > Qualifications -->
    <!--  ---------------------- -->
    <!-- Professional Membership -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Professional Membership
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('professional-membership')" *ngIf="professionalMembershipList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="professionalMembershipList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <th>Professional Body</th>
                <th>Membership No.</th>
                <th colspan="2">Expiry Date</th>

              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of professionalMembershipList | sortBy:'expiryDate' : 'desc'">
                <td>{{ i.professionalBody }}</td>
                <td>{{ i.membershipNumber }}</td>
                <td>{{ i.expiryDate.substring(0, 10) }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="professionalMembershipList.length == 0" class="w-100 text-center">
            <p><i>You do not belong to any professional membership.</i></p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('professional-membership')">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END > Professional Membership -->
    <!--  ---------------------- -->
    <!-- Computer Literacy -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Computer Literacy
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('computer-literacy')" *ngIf="computerLiteracyList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="computerLiteracyList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <th>Skill</th>
                <th colspan="2">Compentency</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of computerLiteracyList">
                <td>{{ i.skill }}</td>
                <td>{{ i.competency }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="computerLiteracyList.length == 0" class="w-100 text-center">
            <p><i>You do not have any computer literacy skills.</i></p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('computer-literacy')">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END > Computer Literacy -->
    <!--  ---------------------- -->
    <!-- Work Experience -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Work Experience
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('experience')" *ngIf="experienceList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="experienceList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <td>Employer</td>
                <td>Position</td>
                <td>From</td>
                <td colspan="2">To</td>

              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of experienceList | sortBy:'startDate' : 'desc'">
                <td>{{ i.employer }}</td>
                <td>{{ i.position }}</td>
                <td>{{ i.startDate.substring(0, 10) }}</td>
                <td>{{ i.endDate.substring(0, 10) }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="experienceList.length == 0" class="w-100 text-center">
            <p><i>You do not have any work experience.</i></p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('experience')">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END > Work Experience -->
    <!--  ---------------------- -->
    <!-- Disciplinary Record -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Disciplinary Record
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" *ngIf="disciplinaryRecordList.length > 0" (click)="openModalForm('disciplinary-record')">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="disciplinaryRecordList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <th>Institution</th>
                <th>Misconduct</th>
                <th>Award/Sanction</th>
                <th colspan="2">Date Finalized</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of disciplinaryRecordList | sortBy:'dateFinalized' : 'desc'">
                <td>{{ i.nameOfInstitute }}</td>
                <td>{{ i.typeOfMisconduct }}</td>
                <td>{{ i.awardSanction }}</td>
                <td>{{ i.dateFinalized.substring(0,10) }}</td>
                <td>
                  <!-- <a class="btn-action"><i class="fas fa-trash"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="disciplinaryRecordList.length == 0" class="w-100 text-center">
            <p>
              <i>
                Are you facing <strong>OR</strong> do you envisage having to face any disciplinary action <strong>OR</strong> have you ever been dismissed from any employment?
                <br>
                <strong>If yes, please add using the button below.</strong>
              </i>
            </p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('disciplinary-record')">ADD
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END > Disciplinary Record -->
    <!--  ---------------------- -->
    <!-- Criminal Record -->
    <div class="col-lg-6">
      <h5 class="fadeInDown wow">
        <hr>
        Criminal Record
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('criminal-record')" *ngIf="criminalRecordList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="criminalRecordList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <th>Type</th>
                <th>Outcome</th>
                <th colspan="2">Date Finalized</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of criminalRecordList | sortBy:'dateFinalized' : 'desc'">
                <td>{{ i.typeOfCriminalAct }}</td>
                <td>{{ i.outcome }}</td>
                <td>{{ i.dateFinalized.substring(0, 10) }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="criminalRecordList.length == 0" class="w-100 text-center">
            <p>
              <i>
                Are you facing <b>OR</b> do you envisage having to face criminal charges <b>OR</b> do you have a criminal record?
                <br>
                <b>If yes, please add using the button below.</b>
              </i>
            </p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('criminal-record')">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END > Criminal Record -->
    <!--  ---------------------- -->
    <!-- References -->
    <div class="col-lg-12">
      <h5 class="fadeInDown wow">
        <hr>
        References
        <hr>
      </h5>

      <div class="fadeInUp wow">
        <div id="table-container">
          <a class="btn btn-light btn-add text-capitalize float" (click)="openModalForm('reference')" *ngIf="referenceList.length > 0">
            <i class="fa fa-plus my-float" aria-hidden="true"></i>
          </a>
          <table class="table table-striped" *ngIf="referenceList.length > 0">
            <thead class="bg-primary text-white text-uppercase">
              <tr>
                <td>Name</td>
                <td>Relationship</td>
                <td>Tel No.</td>
                <td>Cell No.</td>
                <td colspan="2">Email</td>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr *ngFor="let i of referenceList">
                <td>{{ i.name }}</td>
                <td>{{ i.relationship }}</td>
                <td>{{ i.telNumber }}</td>
                <td>{{ i.cellNumber }}</td>
                <td>{{ i.email }}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="referenceList.length == 0" class="w-100 text-center">
            <p>
              <i>
                You currently do not have any references listed.
              </i>
            </p>
            <button type="button" class="btn btn-outline-primary border-0" style="display: block; margin: 0 auto" (click)="openModalForm('reference')">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [formGroup]="personalForm" class="">
    <h5 class="fadeInDown wow">
      <hr>
      Other
      <hr>
    </h5>
    <div class="row">
      <div class="col-lg-6 mt-3">
        <label>Nature of employment</label>
        <ng-multiselect-dropdown name="natureDropdownList" [placeholder]="" [data]="natureDropDownListObj" formControlName="natureOfEmployment" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-lg-6 mt-3">
        <label>Languages</label>
        <ng-multiselect-dropdown name="languageDropdownList" [placeholder]="" [data]="languageDropDownListObj" formControlName="language" [settings]="dropdownSettings" [disabled]="disabled" (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-lg-6 mt-3">
        <label>Relationship with us</label>
        <select formControlName="relationship" class="form-control">
          <option value="0">Current Employee</option>
          <option value="1">Citizen</option>
        </select>
      </div>
      <div class="col-lg-6 mt-3">
        <label>How did you hear about us</label>
        <select formControlName="heardAboutUs" class="form-control">
          <option value="Google">Google</option>
          <option value="Official Website">Official Website</option>
          <option value="Word of mouth">Word of mouth</option>
          <option value="News paper">News paper</option>
          <option value="Radio">Radio</option>
        </select>
      </div>
      <div class="col-lg-6 mt-3">
        <label>Do you want to receive marketing info from us</label>
        <select formControlName="marketingInfo" class="form-control">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mx-0 mt-4 slideInUp wow">
    <div class="float-right w-100">
      <button class="btn btn-primary float-right ml-3 w-25" type="button" (click)="saveDetails()">Save</button>
      <button class="btn btn-danger float-right ml-3 w-25">Cancel</button>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>