<div class="modal-header fadeIn">
  <div class="display-inline">

    <i class="fas fa-info-circle fa-2x pr-3 text-primary-bcmm"></i>
  </div>
  <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times text-danger"></i>
  </button>
</div>
<div class="modal-body fadeIn">
  <p>{{ message }}</p>
  <ul *ngIf="object?.StatusCode === 400 && object.Result" class="list-unstyled">
    <li class="text-danger" *ngFor="let e of object.Result"> {{ e.field }} - {{ e.message }}</li>
  </ul>
</div>

<div class="modal-footer fadeIn">

  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cross button click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="passBack()">OK</button>

</div>