<header class="slideInDown wow" data-wow-duration="1.25s">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">
      <img src="assets\assets\img\logo.png" width="50" height="50" alt="">
      <span>
        BCMM - {{ title }}
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link" routerLink="signin" routerLinkActive="active">
            Sign In
          </a>

        </li>
        <li class="nav-item">
          <a href="" class="nav-link" routerLink="signup" routerLinkActive="active">
            Sign Up
          </a>

        </li>

        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="applicant-form" routerLinkActive="active slideIn wow">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="applicant-list" routerLinkActive="active slideInDown wow">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="applicant-view" routerLinkActive="active slideInDown wow">Pricing</a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>

<main class="container-fluid col-lg-12 my-5 mt-3 p-2">
  <router-outlet></router-outlet>
</main>

<footer class="slideInUp wow" data-wow-duration="1.25s">
  <nav class="navbar bg-primary text-center">
    <p class="footer-text white">
      &copy; 2019 Buffalo City Metropolitan Municipality.
    </p>
  </nav>
</footer>